# Keystatic production setup. See SETUP.md for details.
NEXT_PUBLIC_KEYSTATIC_GITHUB_OWNER=barryodev
NEXT_PUBLIC_KEYSTATIC_GITHUB_REPO=trin
KEYSTATIC_GITHUB_CLIENT_ID=
KEYSTATIC_GITHUB_CLIENT_SECRET=
KEYSTATIC_SECRET=
